.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-8 {
  margin-left: 8px;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
  opacity: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.overlay-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.overlay-text {
  font-size: 24px;
  color: black;
}

.paper {
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.rounded-corner {
  border-radius: 4px;
}